
/* SWITCH */

/*
<label className="switch">
  <input type="checkbox"/>
  <span className="roundBtn"></span>
</label>
*/

.switch {
  margin: 0;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  border-radius: 25px;
}

.switch input {
  display: none;
}

.roundBtn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  transition: all 0.3s;
  border-radius: 15px;
  background-color: var(--MenuBtn);
  cursor: pointer;
}

.roundBtn:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  border-radius: 100%;
  display: block;
  left: 2px;
  bottom: 2px;
  background-color: #242c31;
  transition: all 0.3s;
}

input:checked + .roundBtn {
  background-color: #E06C75;
}

input:checked + .roundBtn:before {
  transform: translate(15px, 0);
}

/* *************** */