.markdown a:link, .markdown a:visited {
  color: #64B1EB;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown a:active {
  color: #5391c0
}

div.about {
  font-size: 1rem;
  font-family: "ibm";
  color: var(--TextDark);
  white-space: pre;
  margin: -50px;
  border: 30px solid var(--AppBg);
  background: var(--AppBg);
}

img.introHeaderImg {
  background-repeat: no-repeat;
  position: fixed;
  width: 1660px;
  left: calc(50% - 830px);
  top: 0;
  margin: auto;
  max-width: 1700px;
  z-index: -1;
}


div.highlightFunc {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "ibm";
  color: var(--Text);
  white-space: pre;
}

div.markdownContainer {
  border: 40px solid var(--AppBg);
  background: var(--AppBg);
}


@media screen and (max-width: 480px) {
  div.highlightFunc {
    font-size: 1.5rem;
  }
}

p.markdownSyntax {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 25px;
  font-size: 1.25rem;
  font-family: "ibm";
  color: var(--Text);
}

.markdownTitle {
  min-width: 150px;
  padding-left: 25px;
  text-align: left;
  /*font-family: var(--font-family-mono);*/
  font-family: "ibm";
  color: var(--TextDark);
  font-size: 1.25rem;
  /*text-transform: uppercase;*/
}
