.markdown a:link, .markdown a:visited {
  color: #64B1EB;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown a:active {
  color: #5391c0
}

div.about {
  font-size: 1rem;
  font-family: "ibm";
  color: var(--TextDark);
  white-space: pre;
  margin: auto;
}

div.highlightFunc {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "ibm";
  color: var(--Text);
  white-space: pre;
}

p.markdownSyntax {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 25px;
  font-size: 1.25rem;
  font-family: "ibm";
  color: var(--Text);
}

.markdownTitle {
  min-width: 150px;
  margin-left: 25px;
  margin-right: 20px;
  text-align: left;
  /*font-family: var(--font-family-mono);*/
  font-family: "ibm";
  color: var(--TextDark);
  font-size: 1.25rem;
  /*text-transform: uppercase;*/
}
