
.docTopicsLinks {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.topicLink {
  font-family: var(--font-family-mono);
  width: 100%;
  text-decoration: none;
  color: var(--PageTitle);
  box-sizing: border-box;
}

.topicLink:hover {
  color: var(--Text);
}