
.docTopicsLinks {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

.topicLink {
  font-family: var(--font-family-mono);
  width: 100%;
  text-decoration: none;
  color: var(--Header);
  /* padding: 12px; */
  box-sizing: border-box;
}

.topicLink:hover {
  text-decoration: underline;
}