@font-face {
  font-family: 'icons';
  src: local("icons"), url("../../../resources/fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-size: 16px;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  background-color: transparent;
  border: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[class^="icon-"], button[class*=" icon-"] {
  color: var(--Red);
  padding: 0;
  margin: 0;
  background-color: var(--Red25);
  border-radius: 4px;
  min-width: 28px;
  min-height: 28px;
}

button[class^="icon-"]:hover, button[class*=" icon-"]:hover{
  color: var(--Text);
  background-color: var(--Red);
  cursor: pointer;
}

.icon-delete:before {
  content: "\e900";
}
.icon-down:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-up:before {
  content: "\e904";
}