.docListContainer {
  min-width: 200px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  padding: 0;
}

.docListContainer span {
  padding-right: 8px;
  bottom: 1px;
  position: relative;
}

.docListContainer ul,
.docListContainer li,
.dirTitle,
.docLink,
.docLinkActive {
  color: var(--TextDark);
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: 0;
}

.dirTitle {
  color: var(--TextDark);
  text-transform: uppercase;
}

.docListContainer ul {
  list-style-type: none;
}

.docLink,
.docLinkActive {
  padding-left: 20px;
  align-items: center;
  display: flex;
}

.docLink:hover,
.docLinkActive {
  color: var(--Text);
}

.docLinkContent,
.dirContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  padding-right: 10px;
  height: 35px;
  background-color: transparent;
}

.docLinkContent:hover,
.dirContent:hover{
  background-color: var(--DarkBg);
}

.docLinkContent:hover .edit.icon-edit,
.dirContent:hover .edit.icon-edit{
  display: inline;
}

.edit.icon-edit {
  display: none;
}

.btn.hideDocList {
  height: 50px;
  position: absolute;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

p.errMsg {
  font-size: 0.8rem;
  color: var(--Error);
  text-align: center;
}

.editForm {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: var(--DarkBg);
}

.editForm * {
  max-width: 250px;
}

.editForm button {
  width: 33%;
}