div.mainView {
  background-color: #727a67;
  height: 100vh;
  width: 100vw;
}

div.asciiCanvas {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow: clip;
  background-color: #727a67;
  width: 1400px;
  margin: auto;
}

div.asciiCanvas p {
  font-family: "ibm";
  font-size: 0.324rem;
  line-height: 0.415rem;
  white-space: pre;
  color: #64B1EB;
  position: absolute;
  z-index: 0;
}

div.asciiCanvas img {
  z-index: 1;
  width: 100%;
}

p.asciiCanvas.bg {
  color: #000;
  background-size: contain;
  z-index: 0;
  overflow: clip;
}
