/******************************/
/*--------- BUTTONS ---------*/
/******************************/
.btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: var(--BtnWeight);
}

.btn,
.btn:link,
.btn:visited {
  height: 30px;
  width: min-content;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  color: var(--BtnColor);
  text-align: center;
  text-decoration: none;
  white-space: pre;
  box-sizing: border-box;
}

.btn:hover {
  color: var(--BtnHoverColor);
}

.btn:disabled {
  color: var(--BtnDisabledColor);
  cursor: not-allowed;
}


/******************************/
/*--------- INPUTS ---------*/
/******************************/

div.input_container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--InputBg);
}

div.input_container input[type=text],
div.input_container input[type=password] {
  width: 100%;
  height: 45px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 14px;
  margin: 0;
  font-size: 1rem;
  display: block;
  background: none;
  border: 1px solid var(--InputBg);
  color: var(--Text);
  box-sizing: border-box;
  outline: none;
  transition: border-bottom 300ms;
  vertical-align: bottom;
}

div.input_container input[type=text]:focus,
div.input_container input[type=password]:focus {
  border: 1px solid var(--InputBg);
  border-bottom: 1px solid var(--Red);
  color: var(--Text);
  transition: border-bottom 300ms;
}

p.input_placeholder {
  font-size: 10px;
  top: 0px;
  color: var(--TextDark);
  padding-left: 13px;
  padding-right: 13px;
  position: absolute;
}

/******************************/
/*--------- TEXT AREA ---------*/
/******************************/

textarea {
  font-family: var(--font-family-mono);
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0;
  margin: 0;
  color: var(--TextGreen);
  box-sizing: border-box;
  border: none;
  border-left: 5px solid var(--TextGreen);
  border-radius: 10px;
  background-color: var(--InputBg);
  resize: none;
  outline: none;
  overflow: visible;
  caret-color: var(--Red);
  box-shadow: 1px 4px 4px #00000010 inset;
  transition: border-left 300ms;
}

textarea:focus {
  border-left: 5px solid var(--Red);
  background-color: var(--InputBg);
  transition: border-left 300ms;
}

/******************************/
/*--------- LOADING ---------*/
/******************************/

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  height: 40px;
  width: 40px;
  pointer-events: none;
}

.smallSpinner {
  height: 20px;
  width: 20px;
  margin: 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner,
  .smallSpinner {
    animation: AppSpinnerAnimation infinite 500ms linear;
  }
}

@keyframes AppSpinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/******************************/
/*--------- STACK ---------*/
/******************************/

div.vstack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

div.vstack.valignTop {
  justify-content: flex-start;
}

div.vstack.valignCenter {
  justify-content: center;
}

div.vstack.valignBase {
  align-items: baseline;
}

div.vstack.valignBottom {
  justify-content: flex-end;
}

div.vstack.halignLeft {
  align-items: flex-start;
}

div.vstack.halignCenter {
  align-items: center;
}

div.vstack.halignRight {
  align-items: flex-end;
}


div.hstack {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

div.hstack.valignTop {
  align-items: flex-start;
}

div.hstack.valignCenter {
  align-items: center;
}

div.hstack.valignBase {
  align-items: baseline;
}

div.hstack.valignBottom {
  align-items: flex-end;
}


div.hstack.halignLeft {
  justify-content: flex-start;
}

div.hstack.halignCenter {
  justify-content: center;
}

div.hstack.halignRight {
  justify-content: right;
}

/******************************/
/*--------- SPACER ---------*/
/******************************/

div.spacer {
  flex-grow: 1;
}

/******************************/
/*---------  ---------*/
/******************************/

div.horSeparator {
  height: 1px;
  border-bottom: 1px solid #ff4178;
}