
.markdown ul {
  list-style-type: circle;
  padding-left: 20px;
}

.docPage {
  margin-top: 10px;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.docNotFoundMsg {
  position: absolute;
  top: 300px;
  color: var(--TextDark);
  text-align: center;
}

.code {
  margin-left: -30px;
  margin-right: -30px;
  background-color: var(--CodeBlockBg);
  border: 1px solid var(--Border);
  border-radius: 10px;
  white-space: pre;
}

.blockContainer {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
  min-height: 50px;
}

.docPageTitle {
  color: var(--PageTitle);
}

.docPageTitleSelectable:hover {
  background-color: #283033;
  border-radius: 10px;
}

.blockBgSelected,
.blockContainer:hover .blockBg {
  background-color: #283033;
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  bottom: 0;
  border-radius: 10px;
  z-index: -1;
}

.blockBgSelected {
  border-left: 5px solid var(--Yellow);
}

.docPage textarea {
  color: var(--TextGreen);
  width: calc(100% - 80px);
  margin-left: 40px;
  padding-left: 26px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 15px;
}

div.emptyDoc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.emptyDoc p {
  color: var(--TextDark);
}

#exportBtn {
  position: relative;
  left: 70px;
  bottom: 20px;
}