code[class*=language-],
pre[class*=language-] {
	font-size: 1rem;
	line-height: var(--CodeLineHeight);
	background: 0 0;
	border: none;
	font-family: var(--font-family-mono);
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 0;
	margin: 0;
	outline: none;
}

pre[class*=language-] {
	padding-top: 15px;
	padding-bottom: 17px;
	padding-left: 19px;
	padding-right: 5px;
	overflow: auto;
	background-color: #33414850;
	white-space: pre-wrap;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.light pre[class*=language-] {
	background-color: #cdcdcd50;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
	#background: #282a34;
	#border-radius: 10px;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #717783;
}


.token.comment.bold {
	color: #717783;
	font-weight: bold;
}

/*------Default-----*/
.token.def,
pre[class*=language-],
code[class*=language-] {
	color: #c7d7e5;
}

.light .token.def,
.light pre[class*=language-],
.light code[class*=language-]{
	color: #23282a;
}

/*------Punctuation-----*/

.token.punctuation,
.token.entity,
.token.operator,
.token.url,
.token.symbol,
.token.property {
	color: #7BA3AB
}

.light .token.punctuation,
.light .token.entity,
.light .token.operator,
.light .token.url,
.light .token.symbol,
.light .token.property {
	color: #3c4f53
}

/*------Tag------*/

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
	color: #e2777a
}

.light .token.attr-name,
.light .token.deleted,
.light .token.namespace,
.light .token.tag {
	color: #800017
}

/*------Number------*/

.token.number {
	color: #d0c3da
}

.light .token.number {
	color: #62458d
}

/*------String-----*/

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
	color: #9cb9a8
}

.light .token.attr-value,
.light .token.char,
.light .token.regex,
.light .token.string,
.light .token.variable {
	color: #4a6b3a
}

/*---------------*/

.token.function-name,
.token.function {
	color: #64B1EB
}

.light .token.function-name,
.light .token.function {
	color: #183895
}

/*---------------*/
.token.class,
.token.class-name,
.token.constant  {
	color: #9693d7
}

.light .token.class,
.light .token.class-name,
.light .token.constant  {
	color: #006571
}

/*-------Keyword--------*/
.token.boolean,
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
	color: #B88EBF
}

.light .token.boolean,
.light .token.atrule,
.light .token.builtin,
.light .token.important,
.light .token.keyword,
.light .token.selector {
	color: #843085
}


.token.bold,
.token.important {
	font-weight: 700
}

.token.italic {
	font-style: italic
}

.token.entity {
	cursor: help
}

.token.inserted {
	color: green
}
