:root {
  color-scheme: dark;
  /* color palette */
  --Gray: #292f31;
  --LightGray: #DEDEDE;
  --Red: #E06C75;
  --Red25: #E06C7525;
  --Red75: #E06C7575;
  --Yellow: #c29a5f;
  --Error: #ff4178;
  --Text: #c7d7e5;
  --TextDark: #76818d;
  --TextDark75: #76818d75;
  --TextGreen: #a7c6d2;
  --TextDarkGreen: #596a70;
  --TextBlue: #b1c5de;
  --PageTitle: #86b3c7;
  --DocListTextSelected: #d2e4f2;
  --PanelBg: #292f31;
  --AppBg: #23282a;
  --HeaderBg: #252a2c;
  --DarkBg: #00000020;
  --CodeBg: #2e393f50;
  --CodeBlockBg: #2e393f20;
  --Border: #2e393f;
  --Pink: #a29cbe;
  --InputBg: #1f2528;
  --BtnWeight: 600;
  --BtnColor: #E06C75;
  --BtnHoverColor: #c7d7e5;
  --BtnDisabledColor: #76818d;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-family-mono: Menlo, source-code-pro, Monaco, 'Courier New', monospace;
}

@font-face {
  font-family: "ibm";
  src: url("resources/fonts/ibm-plex-mono-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

::selection {
  color: #333;
  background: #c1b79e;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}


@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--Text);
  background-color: var(--AppBg);
  outline: none;
  overflow: auto;
  box-sizing: border-box;
}

body, p, a, h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-decoration: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

div,
p {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 450;
}

blockquote {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 5px solid #4c5157;
  margin: 10px 0;
  padding: 20px;
  background-color: #2d3034;
  color: #9aa8bb;
}

hr {
  display: block;
  margin: 0;
  color: var(--Border);
  border-style: inset;
  border-width: 1px;
}

/******************************/
/*--------- SCROLLBAR -----------*/
/******************************/

.listScrollbar{
  display: block;
  width: 100%;
  overflow: auto;
}

.listScrollbar::-webkit-scrollbar {
  width: 16px;
}

.listScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.listScrollbar::-webkit-scrollbar-thumb {
  background: var(--Gray);
  border-radius: 14px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.listScrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--PageTitle);
  border-radius: 14px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/******************************/
/*--------- LAYOUT -----------*/
/******************************/
.header {
  z-index: 1;
}

div.appLayout.S {
  background-color: #eff901;
  z-index: 100;
}

div.appLayout.M {
  background-color: #00d3f9;
  z-index: 100;
}

div.appLayout.L {
  background-color: #b700f9;
  z-index: 100;
}

.withBottomBorder {
  border-bottom: 1px solid var(--Border);
}

/******************************/
/*------- MODAL VIEW ---------*/
/******************************/

div.modalView {
  background-color: #00000050;
}

div.yesNoDialog {
  background-color: #495655;
  box-shadow: 0 10px 20px #00000020;
  border-radius: 20px;
}

div.yesNoDialog p {
  font-size: 1rem;
  font-family: var(--font-family-mono);
  color: var(--Text);
  white-space: pre-wrap;
}

div.yesNoDialog h2 {
  text-align: center;
}

div.yesNoDialog button {
  font-size: 1.25rem;
  min-width: 60px;
}

/******************************/
/*--------- BUTTONS ---------*/
/******************************/
.btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: var(--BtnWeight);
}

.btn,
.btn:link,
.btn:visited {
  height: 30px;
  width: min-content;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  color: var(--BtnColor);
  text-align: center;
  text-decoration: none;
  white-space: pre;
  box-sizing: border-box;
}

.btn:hover {
  color: var(--BtnHoverColor);
}

.btn:disabled {
  color: var(--BtnDisabledColor);
  cursor: not-allowed;
}

/******************************/
/*--------- INPUTS ---------*/
/******************************/

div.input_container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

div.input_container input[type=text],
div.input_container input[type=password] {
  width: 100%;
  height: 45px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 1px;
  margin: 0;
  font-size: 1rem;
  display: block;
  background-color: var(--InputBg);
  caret-color: var(--Red);
  border: 1px solid var(--InputBg);
  border-radius: unset;
  color: var(--TextDark);
  box-sizing: border-box;
  outline: none;
  vertical-align: bottom;
  transition: border 300ms;
}

div.input_container input[type=text]:focus,
div.input_container input[type=password]:focus {
  color: var(--Text);
  border: 1px solid var(--Border);
}

div.input_container input[type=text]:hover,
div.input_container input[type=password]:hover {
  border: 1px solid var(--Border);
}

p.input_title {
  font-size: 9px;
  color: var(--TextDark);
  position: relative;
  text-transform: uppercase;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--TextDark75);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--TextDark75);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--TextDark75);
}

/******************************/
/*--------- TEXT AREA ---------*/
/******************************/

textarea {
  font-family: var(--font-family-mono);
  font-size: 1rem;
  line-height: 1.6rem;
  padding: inherit;
  margin: 0;
  width: 100%;
  color: var(--TextGreen);
  box-sizing: border-box;
  border: none;
  border-left: 5px solid var(--TextGreen);
  border-radius: 10px;
  background-color: var(--InputBg);
  resize: none;
  outline: none;
  overflow: visible;
  caret-color: var(--Red);
  box-shadow: 1px 4px 4px #00000010 inset;
  transition: border-left 300ms;
}

textarea:focus {
  border-left: 5px solid var(--Red);
  background-color: var(--InputBg);
  transition: border-left 300ms;
}

/******************************/
/*--------- LOADING ---------*/
/******************************/

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  height: 40px;
  width: 40px;
  pointer-events: none;
}

.smallSpinner {
  height: 20px;
  width: 20px;
  margin: 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner,
  .smallSpinner {
    animation: AppSpinnerAnimation infinite 1s linear;
  }
}

@keyframes AppSpinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/******************************/
/*--------- SPACER ---------*/
/******************************/

div.spacer {
  flex-grow: 1;
}

/******************************/
/*--------- SEPARATOR ---------*/
/******************************/

div.horSeparator {
  background-color: var(--Border);
}

div.verSeparator {
  background-color: var(--Border);
}

/******************************/
/*--------- ICONS ---------*/
/******************************/


@font-face {
  font-family: 'icons';
  src: local("icons"), url("resources/fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-size: 1rem;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  background-color: transparent;
  border: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[class^="icon-"], button[class*=" icon-"] {
  color: var(--Red);
  padding: 0;
  margin: 0;
  background: var(--PanelBg);
  border-radius: 4px;
  min-width: 32px;
  min-height: 32px;
  white-space: pre;
}

button[class^="icon-"]:hover,
button[class*=" icon-"]:hover {
  background: var(--Border);
  cursor: pointer;
}
button[class^="icon-"]:active,
button[class*=" icon-"]:active {
  color: var(--Text);
  background: var(--Border);
  cursor: pointer;
}

button[class^="icon-"]:disabled,
button[class*=" icon-"]:disabled {
  color: var(--TextDark);
  background: none;
  cursor: not-allowed;
}

button.withoutBg {
  background: none;
}

button.withoutBg:hover {
  background: none;
  color: var(--Text);
}

button.long {
  min-width: 60px;
}

@media screen and (max-width: 650px) {
  button.long {
    min-width: 32px;
  }
}

button.big {
  min-width: 60px;
  min-height: 60px;
  font-size: 1.25rem;
}

.icon-nextPage:before {
  content: "\e909";
}
.icon-prevPage:before {
  content: "\e90a";
}
.icon-scrollBack:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e900";
}
.icon-down:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-up:before {
  content: "\e904";
}