:root {
  /*!* color palette *!*/
  /*--Gray: #292f31;*/
  /*--LightGray: #DEDEDE;*/
  /*--Red: #E06C75;*/
  /*--Red25: #E06C7525;*/
  /*--Red75: #E06C7575;*/
  /*--Yellow: #c29a5f;*/
  /*--Error: #ff4178;*/
  /*--Text: #c7d7e5;*/
  /*--TextDark: #76818d;*/
  /*--TextDark75: #76818d75;*/
  /*--TextGreen: #a7c6d2;*/
  /*--TextDarkGreen: #596a70;*/
  /*--TextBlue: #b1c5de;*/
  /*--PageTitle: #86b3c7;*/
  /*--DocListTextSelected: #d2e4f2;*/
  /*--PanelBg: #292f31;*/
  /*--AppBg: #23282a;*/
  /*--HeaderBg: #252a2c;*/
  /*--DarkBg: #00000020;*/
  /*--CodeBg: #2e393f50;*/
  /*--CodeBlockBg: #2a343920;*/
  /*--Border: #2a3439;*/
  /*--Pink: #a29cbe;*/
  /*--InputBg: #1f2528;*/
  /*--BtnWeight: 600;*/
  /*--BtnColor: #E06C75;*/
  /*--BtnHoverColor: #c7d7e5;*/
  /*--BtnDisabledColor: #76818d;*/
  --CodeLineHeight: 1.76;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-family-mono: Menlo, source-code-pro, Monaco, 'Courier New', monospace;
}

@font-face {
  font-family: "ibm";
  src: url("resources/fonts/ibm-plex-mono-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

::selection {
  color: #333;
  background: #c1b79e;
}

.ibm {
  font-family: "ibm", var(--font-family-mono);
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

body, p, a, h1, h2, h3, blockquote {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 300;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4, .h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

div,
p {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
}

.mono {
  font-family: var(--font-family-mono);
}

.notSelectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

hr {
  display: block;
  margin: 0;
  color: #2a3439;
  border-style: inset;
  border-width: 1px;
}

/******************************/
/*--------- SCROLLBAR -----------*/
/******************************/

.listScrollbar {
  display: block;
  width: 100%;
  overflow: auto;
}

.listScrollbar::-webkit-scrollbar {
  width: 16px;
}

.listScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.listScrollbar::-webkit-scrollbar-thumb {
  background: #292f31;
  border-radius: 14px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.listScrollbar::-webkit-scrollbar-thumb:hover {
  background: #86b3c7;
  border-radius: 14px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/******************************/
/*--------- LAYOUT -----------*/
/******************************/
.header {
  z-index: 1;
}

div.appLayout.S {
  background-color: #eff901;
  z-index: 100;
}

div.appLayout.M {
  background-color: #00d3f9;
  z-index: 100;
}

div.appLayout.L {
  background-color: #b700f9;
  z-index: 100;
}

/******************************/
/*--------- INPUTS ---------*/
/******************************/

input[type=text],
input[type=password] {
  font-size: 1rem;
  border-radius: unset;
  outline: none;
  border-width: 1px;
  border-color: transparent;
}

textarea {
  font-size: 1rem;
  line-height: var(--CodeLineHeight);
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  outline: none;
  overflow: visible;
  box-shadow: 1px 3px 3px #00000005 inset;
}

/******************************/
/*--------- LOADING ---------*/
/******************************/

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  height: 40px;
  width: 40px;
  pointer-events: none;
}

.smallSpinner {
  height: 20px;
  width: 20px;
  margin: 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner,
  .smallSpinner {
    animation: AppSpinnerAnimation infinite 1s linear;
  }
}

@keyframes AppSpinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/******************************/
/*--------- SPACER ---------*/
/******************************/

div.spacer {
  flex-grow: 1;
}

/******************************/
/*--------- BUTTON ---------*/
/******************************/

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  border: none;
  min-width: 40px;
  min-height: 32px;
  border-radius: 4px;
  background: none;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  button {
    min-width: 32px;
  }
}

@font-face {
  font-family: 'icons';
  src: local("icons"), url("resources/fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-size: 1rem;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  font-size: 1.25rem;
  content: "\e90b";
}

.icon-sun:before {
  font-size: 1.25rem;
  content: "\e90c";
}

.icon-down:before {
  content: "\e901";
}

.icon-up:before {
  content: "\e904";
}

.icon-scrollBack:before {
  content: "\e908";
}

.icon-nextPage:before {
  content: "\e909";
}

.icon-prevPage:before {
  content: "\e90a";
}

.icon-close:before {
  content: "\e907";
}

.icon-menu:before {
  content: "\e905";
}

.icon-plus:before {
  content: "\e906";
}

.icon-delete:before {
  content: "\e900";
}

.icon-edit:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e903";
}